body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url('image.png'); */
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(139, 175, 188, 1) 25%, rgba(255, 255, 255, 1) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 90%;
}

.navbar {
    background-color: #ffffff;
    padding: 4px 0px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    color: #000000;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    transition: text-shadow 0.3s, color 0.3s;
}

.brand-name:hover {
    color: #000000;
    text-shadow: 0 20px #8bafbc;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 0.5rem;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    padding: 0rem 3rem;
    font-weight: bold;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.4rem;
    width: 0;
    height: 2px;
    background-color: #000000;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 60%;
}


.nav-links a:hover {
    color: #000000;
}

.container {
    /* max-width: 120rem; */
    margin: 6rem auto 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    background-color: #00000010;
    color: #000000;
    padding: 1.5rem;
    border-radius: 0.6rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 1.5rem;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5rem;
}

.card-header h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #000000;
    text-shadow: 0 0 10px #0000005d;

}

.card-header p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
    color: #000000;
    flex: 1;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.read-more {
    background-color: #ffffff42;
    color: #000000ea;
    padding: 0.5rem 2rem; /* Increased padding to make the button longer */
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-transform: uppercase;
    font-weight: 800;
    min-width: 10rem; /* Added minimum width */
    text-align: center; /* Ensure text is centered */
}

.read-more:hover {
    background-color: #8bafbc59;
    color: #000000ea;
}

.learn-more {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.learn-more:hover {
    color: #ffffff;
}